<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image gallery</title>
    <link rel="stylesheet" href="static/CSS/image2.css">
</head>
<img class="back" src="https://www.colorhexa.com/191919.png">
<body>
    <h1 class="red">Hollow Knight: Silksong</h1>
    <h2></h2>
    <img class="poster" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1030300/header.jpg?t=1695443850"
        alt="Poster of Hollow Knight: Silksong.">
    <p class="red">Hollow Knight: Silksong is the epic sequel to Hollow Knight, the award winning action-adventure. As
        the lethal hunter Hornet, journey to all-new lands, discover new powers, battle vast hordes of bugs and beasts
        and uncover ancient secrets tied to your nature and your past.</p>
    <form action="/image3">
        <input type="submit" value="Next">
    </form>
    <form action="/image1">
        <input type="submit" value="Privous">
    </form>
</body>

</html>