<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/index.css">
    <title>Image gallery</title>
</head>
<img class="back" src="https://www.colorhexa.com/191919.png">

<body>
    <h1 class="red">The video game gallery</h1>
    <p>This gallery was created to show my favorite pictures, I think you will like it, if you want to go to view,
        click on the appropriate button.</p>
    <form action="/image1">
        <input type="submit" value="Watch">
    </form>
</body>

</html>