<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/index.css">
    <title>Point game</title>
</head>
<img class="back" src="https://www.colorhexa.com/191919.png">

<body>
    <h1 class="red">The Point-game</h1>
    $string='<s>dadadadv</s>'';
    echo $string; 
    <pre>{{html}}</pre>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="▶">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="◀">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="▲">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="▼">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="◢">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="◣">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="◤">
    </form>
    <form action="/" , method="POST">
        <input type="submit" name="control" value="◥">
    </form>
</body>

</html>