<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\CSS\index.css">
    <title>registration</title>
</head>

<body>
    <h1 class="HOME">LET'S REGISTER</h1>
    {% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
    {% endfor %}
    <div class="conteiner">
        <form action="/" method='POST' class="form-contact">
            <input type="text" name="name" placeholder="Enter username">
            <input type="password" name="password" placeholder="Enter password">
            <input type="password" name="repeat" placeholder="Repeat password">
            <input class="inputbutton" type="submit" value="register" />
        </form>
    </div>
    <div class="button">
        <form action="send" method="GET">
            <button type="submit">login and send</button>
        </form>
    </div>
</body>

</html>