<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\CSS\loggedsend.css">
    <title>Send</title>
</head>

<body>
    <h1 class="HOME">LET'S SEND MESSAGES</h1>
    {% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
    {% endfor %}
    <h2>You was logged as {{uname}}</h2>
    <div class="container">
        <form action="send" method="POST">
            <input type="textarea" name="messages" placeholder="Enter your messages">
            <button class="button1" type="submit">send</button>
        </form>
        <form action="all" method="GET">
            <button class="button2" type="submit">watch all messages</button>
        </form>
        <form action="/" method="GET">
            <button class="button3" type="submit">exit account</button>
        </form>
    </div>
</body>

</html>